<section class="about_area section_gap container-fluid" id="page-2">
    <div class="container">
        <h1 style="text-align: center;"><b>นายปรัชญา ประภาวัต(แปง)</b></h1>
        <div class="row ">
            <div class="col-lg-6">
                <div class="about_img">
                    <!-- <img class="border_circle" src="picture.jpg" alt="" style="width: 350px;height: 350px;"> -->
                    <div class=" mt-5">
                        <h3 class="headcolor">#INFORMATION</h3>
                        <p><svg viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img"
                                alt="icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                class="bi-gift b-icon bi">
                                <g>
                                    <path fill-rule="evenodd"
                                        d="M2 6v8.5a.5.5 0 00.5.5h11a.5.5 0 00.5-.5V6h1v8.5a1.5 1.5 0 01-1.5 1.5h-11A1.5 1.5 0 011 14.5V6h1zm8-5a1.5 1.5 0 00-1.5 1.5c0 .098.033.16.12.227.103.081.272.15.49.2A3.44 3.44 0 009.96 3h.015L10 2.999l.025.002h.014A2.569 2.569 0 0010.293 3c.17-.006.387-.026.598-.073.217-.048.386-.118.49-.199.086-.066.119-.13.119-.227A1.5 1.5 0 0010 1zm0 3h-.006a3.535 3.535 0 01-.326 0 4.435 4.435 0 01-.777-.097c-.283-.063-.614-.175-.885-.385A1.255 1.255 0 017.5 2.5a2.5 2.5 0 015 0c0 .454-.217.793-.506 1.017-.27.21-.602.322-.885.385a4.434 4.434 0 01-1.104.099H10z"
                                        clip-rule="evenodd"></path>
                                    <path fill-rule="evenodd"
                                        d="M6 1a1.5 1.5 0 00-1.5 1.5c0 .098.033.16.12.227.103.081.272.15.49.2A3.44 3.44 0 005.96 3h.015L6 2.999l.025.002h.014l.053.001a3.869 3.869 0 00.799-.076c.217-.048.386-.118.49-.199.086-.066.119-.13.119-.227A1.5 1.5 0 006 1zm0 3h-.006a3.535 3.535 0 01-.326 0 4.435 4.435 0 01-.777-.097c-.283-.063-.614-.175-.885-.385A1.255 1.255 0 013.5 2.5a2.5 2.5 0 015 0c0 .454-.217.793-.506 1.017-.27.21-.602.322-.885.385a4.435 4.435 0 01-1.103.099H6zm1.5 12V6h1v10h-1z"
                                        clip-rule="evenodd"></path>
                                    <path fill-rule="evenodd"
                                        d="M15 4H1v1h14V4zM1 3a1 1 0 00-1 1v1a1 1 0 001 1h14a1 1 0 001-1V4a1 1 0 00-1-1H1z"
                                        clip-rule="evenodd"></path>
                                </g>
                            </svg> วันเกิด 2 กันยายน พ.ศ. 2541 (อายุ 21 ปี)</p>
                        <p><svg viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img"
                                alt="icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                class="bi-house-door-fill b-icon bi">
                                <g>
                                    <path
                                        d="M6.5 10.995V14.5a.5.5 0 01-.5.5H2a.5.5 0 01-.5-.5v-7a.5.5 0 01.146-.354l6-6a.5.5 0 01.708 0l6 6a.5.5 0 01.146.354v7a.5.5 0 01-.5.5h-4a.5.5 0 01-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z">
                                    </path>
                                    <path fill-rule="evenodd"
                                        d="M13 2.5V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z"
                                        clip-rule="evenodd"></path>
                                </g>
                            </svg> ปัจจุบันศึกษาอยู่ ชั้นปีที่ 3 คณะเทคโนโลยีสารสนเทศ
                            สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง (แขนง Software Engineering)</p>
                    </div>
                    <div class="education mt-5">
                        <h3 class="headcolor">#EDUCATION</h3>
                        <p><svg viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img"
                                alt="icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                class="bi-chevron-double-right b-icon bi">
                                <g>
                                    <path fill-rule="evenodd"
                                        d="M3.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L9.293 8 3.646 2.354a.5.5 0 010-.708z"
                                        clip-rule="evenodd"></path>
                                    <path fill-rule="evenodd"
                                        d="M7.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L13.293 8 7.646 2.354a.5.5 0 010-.708z"
                                        clip-rule="evenodd"></path>
                                </g>
                            </svg> อนุบาล เจริญสุข</p>
                        <p><svg viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img"
                                alt="icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                class="bi-chevron-double-right b-icon bi">
                                <g>
                                    <path fill-rule="evenodd"
                                        d="M3.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L9.293 8 3.646 2.354a.5.5 0 010-.708z"
                                        clip-rule="evenodd"></path>
                                    <path fill-rule="evenodd"
                                        d="M7.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L13.293 8 7.646 2.354a.5.5 0 010-.708z"
                                        clip-rule="evenodd"></path>
                                </g>
                            </svg> ประถมศึกษา ยอเเซฟอุปถัมภ์</p>
                        <p><svg viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img"
                                alt="icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                class="bi-chevron-double-right b-icon bi">
                                <g>
                                    <path fill-rule="evenodd"
                                        d="M3.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L9.293 8 3.646 2.354a.5.5 0 010-.708z"
                                        clip-rule="evenodd"></path>
                                    <path fill-rule="evenodd"
                                        d="M7.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L13.293 8 7.646 2.354a.5.5 0 010-.708z"
                                        clip-rule="evenodd"></path>
                                </g>
                            </svg> มัธยมศึกษา ยอเเซฟอุปถัมภ์</p>
                        <p><svg viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img"
                                alt="icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                class="bi-chevron-double-right b-icon bi">
                                <g>
                                    <path fill-rule="evenodd"
                                        d="M3.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L9.293 8 3.646 2.354a.5.5 0 010-.708z"
                                        clip-rule="evenodd"></path>
                                    <path fill-rule="evenodd"
                                        d="M7.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L13.293 8 7.646 2.354a.5.5 0 010-.708z"
                                        clip-rule="evenodd"></path>
                                </g>
                            </svg> ปริญญาตรี (ปัจจุบัน) สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง</p>
                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <section>
                    <div class="activity mt-5">
                        <h3 class="headcolor">#ACTIVITIES</h3>
                        <p><svg viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img"
                                alt="icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                class="bi-bookmarks-fill b-icon bi">
                                <g>
                                    <path fill-rule="evenodd" d="M2 4a2 2 0 012-2h6a2 2 0 012 2v12l-5-3-5 3V4z"
                                        clip-rule="evenodd"></path>
                                    <path d="M14 14l-1-.6V2a1 1 0 00-1-1H4.268A2 2 0 016 0h6a2 2 0 012 2v12z">
                                    </path>
                                </g>
                            </svg> ปี 1</p>
                        <ul>
                            <li>TobeIT'61 : ช่วยงานทั่วไป</li>
                            <li>Openhouse ITLadkrabang 2017 : จัดการเเข่งขัน DATA</li>
                            <li>imagine cup - เข้าร่วมเเข่งขัน</li>
                            <li>geek-a-thon - เข้าร่วมเเข่งขัน</li>
                            <li>NSC - เข้าร่วมเเข่งขัน</li>
                        </ul>
                        <p><svg viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img"
                                alt="icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                class="bi-bookmarks-fill b-icon bi">
                                <g>
                                    <path fill-rule="evenodd" d="M2 4a2 2 0 012-2h6a2 2 0 012 2v12l-5-3-5 3V4z"
                                        clip-rule="evenodd"></path>
                                    <path d="M14 14l-1-.6V2a1 1 0 00-1-1H4.268A2 2 0 016 0h6a2 2 0 012 2v12z">
                                    </path>
                                </g>
                            </svg> ปี 2</p>
                        <ul>
                            <li>Unite Camp 3 - พิธีการเเละจัดกิจกรรมฐาน</li>
                            <li>กิจกรรมพบปะสายรหัส - ช่วยจัดงาน</li>
                            <li>Openhouse ITLadkrabang 2018 : จัดการเเข่งขัน DATA</li>
                            <li>เข้าร่วมทีมทำสื่อการสอนของคณะเทคโนโลยีสารสนเทศ (331 Studio)</li>
                            <li>ITCAMP 15 - พิธีการ</li>
                        </ul>
                        <p><svg viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img"
                                alt="icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                class="bi-bookmarks-fill b-icon bi">
                                <g>
                                    <path fill-rule="evenodd" d="M2 4a2 2 0 012-2h6a2 2 0 012 2v12l-5-3-5 3V4z"
                                        clip-rule="evenodd"></path>
                                    <path d="M14 14l-1-.6V2a1 1 0 00-1-1H4.268A2 2 0 016 0h6a2 2 0 012 2v12z">
                                    </path>
                                </g>
                            </svg> ปี 3</p>
                        <ul>
                            <li>กรรมการสโมสรนักศึกษา คณะเทคโนโลยีสารสนเทศ</li>
                            <li>parliament hackathon - ได้รางวัลยอดเยี่ยม</li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
