<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="main_title">
                    <div class="passion mt-5">
                        <img src="images/goal.jpg" class="border_circle" style="width: 200px;height: auto;">
                        <h2 class="intro-subhead" style="margin-top: 5%;">#PASSION &amp; GOAL</h2>
                        <p>ผมอยากจะมีความเชี่ยวชาญการทำเว็บในส่วนของ Back-end เเละอยากทำงานในทุก ๆ
                            วันอย่างมีความสุขครับ
                            นั้นคือเป้าหมายของผมครับ
                            <br> <br>
                            ทำให้ผมคิดว่าการจะทำเป้าหมายนั้นให้สำเร็จผมจำเป็นต้องศึกษาอะไรหลายๆอย่างเเละฝึกฝนเพิ่มมากยิ่งขึ้น
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>