<html>

<head>
    <title>
        ADD PROJECT
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9cdefafb29.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <link rel="stylesheet" type="text/css" href="http://localhost:3000/stylesheets/style.css">
</head>

<body>

    <div class="container">
        <%- include ("navbarPort1.ejs") %>




        <div id="app1">



            <div class="row" style="margin-top: 100px;">

                <div class="col-0.5">
                </div>

                <div class="col-5">
                    <h1 style="margin-bottom: 50px;">เลือกส่วนที่ต้องการ</h1>
                    <div id='example-4'>
                        <template v-for="info in infos">
                            <hr>
                            <input type="checkbox" :id="info.item" :value="info.items" v-model="addSection">
                            <h3 :for="info">{{info.displayName}}</h3>
                            <label :for="info">{{info.informationItems}}</label>
                        </template>


                        <br>
                        <span>Checked names: {{ addSection }}</span>

                    </div>
                    <button type="submit" @click="addUser()">Submit all</button>
                </div>

                <div class="col-0.5">
                </div>


                <div class="col-5" style="margin-top: 80px;">
                    <img :src="'http://localhost:3000/portfolio/images/nav.png'" alt=""
                            style="width: 550px;height: 50px;">
                    <div v-for="mySection in addSection">
                        <img :src="'http://localhost:3000/portfolio/images/'+mySection+'.png'" alt=""
                            style="width: 550px;height: 350px;">
                    </div>
                </div>

            </div>
            <!-- end row -->


        </div>
        <!-- end id -->









        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
        <script>

            var app = new Vue({
                el: "#app1",
                data: {



                    infos: [
                        {
                            displayName: "โชว์เป้าหมายเเละความสนใจ",
                            items: 'addInputGoal',
                            informationItems: 'input you goal '
                        },
                        {
                            displayName: "เเนะนำตัวหรือเปิดตัว",
                            items: 'addInputIntroduce',
                            informationItems: 'ใส่การเเนะนำตัวเองหรือเปิดตัว '
                        },
                        {
                            displayName: "โชว์ข้อมูลต่างๆของตัวเอง",
                            items: 'addInputInformation',
                            informationItems: 'ใส่ข้อมูลของตัวเอง 3 อย่าง การศึกษา กิจกรรม ข้อมูลส่วนตัว '
                        },
                        {
                            displayName: "ยังไม่ได้ทำ",
                            items: 'section4',
                            informationItems: 'ยังไม่มี '
                        },

                    ],


                    items: ['addInputGoal'
                        , 'addInputIntroduce'
                        , 'addInputInformation'
                        , 'section4'],
                    informationItems: ['input you goal '
                        , 'ใส่การเเนะนำตัวเองหรือเปิดตัว'
                        , 'ใส่ข้อมูลของตัวเอง 3 อย่าง การศึกษา กิจกรรม ข้อมูลส่วนตัว'
                        , 'ยังไม่มี'],

                    addSection: [],


                },
                methods: {
                    addUser() {

                        this.submitting = true;
                        axios.post('/portfolio/addSection', {
                            projectName: "<%= projectName%>",
                            sectionPort: this.addSection,
                            userId: "<%= user._id%>"
                        }, {
                            headers: {

                            }
                        })
                            .then((response) => {
                                console.log("gogoaxaois");
                                window.location.href = '/portfolio/chooseSectionEdit/<%= projectName%>'
                            });
                    },



                },



            });
        </script>















</body>

</html>